/* 
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
  --variable-2palabra: #fff;
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 32rem;
  height: 33.4rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 500px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
}
.header--title-container h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}
.header--title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--button {
  display: block;
  width: 23rem;
  height: 4.8rem;
  position: absolute;
  top: calc(100% - 2.4rem);
  left: calc(50% - 11.5rem);
  padding: 1.6rem;
  background-color: var(--off-white);
  box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--warm-black);
  text-decoration: none;
}
.header--button span {
  display: inline-block;
  width: 1.2rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url('../assets/icons/down-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  min-width: 320px;
}
/* main-exchange-container ---------------------------------------------------------------------------------*/

.main-exchange-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-exchange-container--primary-img {
  background: url('../assets/img/bitcoin.svg') center/cover no-repeat;
  width: 195px;
  height: 195px;
  margin-top: 60px;
}
.main-exchange-container--info {
  margin-top: 40px;
  width: 90%;
  min-width: 288px;
  max-width: 500px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
/* ---------------------------------- TABLAS-------------------------------------------------------*/
.main-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: auto;
  font-family: 'Inter', sans-serif;
}
.main-table .table-title {
  margin-top: 48px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 160px;
  margin: 10px 0 auto;
}
.table--container table {
  width: 100%;
  height: 100%;
}
.table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.table--container .table__right {
  /* color: var(--warm-black); */
  font-size: 1.4rem;
  color: #757575;
  font-weight: 400;
  line-height: 1.7rem;
}
.currency-table--container .down {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background-image: url('../assets/icons/trending-down.svg');
}
.currency-table--container .up {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background-image: url('../assets/icons/trending-up.svg');
}
.table__updated p {
  display: inline-block;
}
.table__updated {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  width: auto;
  height: auto;
  background-color: var(--soft-orange);
  padding: 8px;
  border-radius: 8px;
  margin: 10px 0 65px;
  font-size: 1.2rem;
  color: var(--warm-black1);
}
.table__updated span {
  font-weight: bold;
}
/* TABLE 2 */
.main-table .commission-table--title {
  color: var(--secondary-blue);
}
.commission-table__updated {
  background-color: var(--soft-blue);
}
.main-commission-table {
  display: none;
}
/* ----------------------------INFORMACION ------------------------------------------------*/
.main-info-container {
  width: 100%;
  height: auto;
  background: var(--warm-black);
  color: var(--just-white);
}
.info-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 64px;
}
.info-container--main-icon {
  width: 41px;
  height: 24.01px;
  margin: 0 auto;
  background-image: url('../assets/icons/batata.svg');
  position: absolute;
  top: -12px;
}
.info-container--title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.info-container > p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #808080;
  margin-bottom: 32px;
}
.info-container--card {
  background: var(--warm-black1);
  align-self: stretch;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto 16px;
  box-shadow: 0px 4px 8px 0px #00000029;
}
.info-container--icon {
  width: 20px;
  height: 20px;
  margin: 16px 18px 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.info-container--icon.clock {
  background-image: url('../assets/icons/clock.svg');
}
.info-container--card > h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--just-white);
  margin: 0 0 10px 16px;
}
.info-container--card > p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #808080;
  margin: 0 20px 22px 16px;
}
.info-container--icon.eye {
  background-image: url('../assets/icons/eye.svg');
}
.info-container--icon.dollar-sign {
  background-image: url('../assets/icons/dollar-sign.svg');
}
.info-container--icon.check-circle {
  background-image: url('../assets/icons/check-circle.svg');
}
.info-container .info-container--card:last-child {
  margin-bottom: 47px;
}
